* {
  font-family: "Roboto", sans-serif;
}

.section-hero {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.15)
    ),
    url("../img/img-eye-surgery/eye-suregry.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero {
  gap: 0;
  padding: 0;
}

.hero-text-box {
  margin-bottom: 2rem;
}

.hero-text-box {
  padding: 2rem;
}

.dental-decribe {
  display: flex;
  padding: 5rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin: 0 auto;
  background-color: #76dcad;
}

.text-box-header-dental {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.text-dental-decribe {
  font-weight: 100;
  text-align: start;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.bolded {
  font-weight: 900;
}

.remove {
  display: none !important;
}
.img-responsive {
  width: 100% !important;
}

.hero-img-box {
  display: flex;
  justify-content: flex-start;
  width: 110%;
  margin-left: 0 !important;
}

.describe-section {
  margin-bottom: 6rem;
  margin-top: 6rem;
}

.story__pictures {
  grid-column: 2/-1;
}
.story__content {
  grid-column: 1/2;
}

.story__content-1 {
  grid-column: 2/3;
  margin-left: 3rem;
}

.story__pictures-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.icon {
  width: 100%;
  display: flex;
}
.section-icons {
  padding: 7rem 0rem;
}

.icon-price {
  background-color: #fff !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
}

.price {
  color: #000;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.number {
  color: #34a86e;
  color: #34a86e;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nav-cta {
  border-radius: 0 !important;
  border-radius: 1rem !important;
}

.padding-high {
  padding: 2rem 16rem !important;
}

.middle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background-color: #eef8f3;
  margin-bottom: 6rem;
}

.main-nav-link {
  color: #fff;
  font-size: 1.7rem !important;
  font-weight: 900;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.5px;
}

.footer {
  border: none;
}
