* {
  font-family: "Roboto", sans-serif;
}

.z-index {
  z-index: -1;
}

.first-section-shoulder {
  padding-bottom: 2rem;
}

.first-section-shoulder .header-shoulder {
  background-image: url("/healthTravel/frontend/assets/orthopaedic/orthopaedic-hero.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.first-section-shoulder .img-text-shoulder {
  position: absolute;
  top: 22%;
  left: 15%;
}

.first-section-shoulder .img-text-shoulder h4 {
  font-size: 30px;
  font-weight: 700;
}

.first-section-shoulder .desc-shoulder {
  font-size: 20px;
  font-weight: 400;
  padding-top: 2rem;
}

.first-section-shoulder .header-texts-shoulder {
  text-align: center;
  padding-top: 4rem;
}

.first-section-shoulder .header-texts-shoulder h2 {
  font-size: 35px;
  font-weight: 500;
  padding-bottom: 2rem;
}

.first-section-shoulder .header-texts-shoulder p {
  font-size: 20px;
  font-weight: 400;
}

.first-section-shoulder .card {
  border: 0;
}

.first-section-shoulder .card .card-body {
  padding: 1rem 1rem 0 0;
  font-size: 18px;
  font-weight: 400;
}
.first-section-shoulder .images-shoulders {
  justify-content: center;
}

/* shoulder */
@media (max-width: 920px) {
  .first-section-shoulder .img-text-shoulder h4 {
    font-size: 25px;
  }

  .first-section-shoulder .img-text-shoulder p {
    font-size: 18px;
  }

  .first-section-shoulder .header-texts-shoulder h4 {
    font-size: 20px;
  }

  .first-section-shoulder .header-texts-shoulder p {
    font-size: 18px;
  }

  .first-section-shoulder .card .card-body {
    padding: 0.5rem 1rem 1rem 0rem;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .first-section-shoulder .header-shoulder {
    background: #eef8f3;
    display: flex;
    flex-direction: column-reverse;
    position: static;
  }

  .first-section-shoulder .img-header-shoulder {
    background-image: url("/healthTravel/frontend/assets/orthopaedic/orthopaedic-header.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .first-section-shoulder .img-text-shoulder {
    position: static;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .first-section-shoulder .header-texts-shoulder h2 {
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 0rem;
  }
  .first-section-shoulder .header-texts-shoulder p {
    font-size: 15px;
  }
}

@media (max-width: 474px) {
  .first-section-shoulder .card-text {
    font-size: 16px;
  }
  .first-section-shoulder .header-texts-shoulder {
    padding-top: 1rem;
    text-align: start;
  }
  .first-section-shoulder .img-text-shoulder {
    padding-left: 1rem;
  }
  .first-section-shoulder .images-shoulders {
    justify-content: start;
  }
  .medical-treatments .boxes {
    display: flex;
    gap: 18px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .boxes .outside-box {
    width: 160px;
  }
}

@media (max-width: 410px) {
  .medical-treatments .boxes {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .medical-treatments .boxes .first-box {
    width: 140px;
    height: 140px;
    border-radius: 9px;
    background-color: #eef8f3;
    position: relative;
  }
  .medical-treatments .boxes .first-box img {
    width: 73px;
    height: 73px;
    object-fit: contain;
    position: absolute;
    top: 22%;
    left: 22%;
  }
  .boxes .outside-box {
    width: 130px;
  }
}
